{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{! Inspired from boost's core/signup_form_layout }}
{{!
    @template local_presignupcaptcha/form

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
<div class="card m-auto" style="max-width:650px">
    <div class="card-body">
        <div class="card-title text-xs-center">
            {{#logourl}}
                <h2 class="d-flex align-items-center"><img src="{{logourl}}" class="img-fluid" title="{{sitename}}" alt="{{sitename}}"/><span class="mx-3">{{sitename}}</span></h2>
            {{/logourl}}
            {{^logourl}}
                <h2>{{sitename}}</h2>
            {{/logourl}}
            <hr>
        </div>
        <div class="card-title">
            <h3>{{#str}}newaccount{{/str}}</h3>
        </div>
        {{{notification}}}
        {{{formhtml}}}
    </div>
</div>
